
NEXTAUTH_URL="http://localhost:3000"
#Make a secret key: openssl rand -base64 32
NEXTAUTH_SECRET="QH6ZlRKUfPoan09Qk3oUIai19Mx58LQA9ihFzRRw1Dw"


GITHUB_ID="b19cdc813d175a2114a0"
GITHUB_SECRET="2ae9606ad541bc2e4dae9903544f0c74fdc0dc54"

GOOGLE_CLIENT_SECRET="Change"
GOOGLE_CLIENT_ID="Change"



# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL='mysql://edvjtsb27dvq6hj6vjyg:pscale_pw_EW0SeImrnPut36VT2hpocRoxNzMZ9UCJ5eSd0DbYqVS@aws.connect.psdb.cloud/startertemplate?sslaccept=strict'